<html>
  <head>
    <title>Student App</title>
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
	        <li><a href="/studentapp">Home</a></li>
          {% if user.is_authenticated %}
          <li><a href="/studentapp/logout/">Logout</a><br /></li>
          {% else %}
          <li><a href="/studentapp/login/">Login</a></li>
          <li><a href="/studentapp/register/">Register Here</a></li>
          {% endif %}

          <form action="/studentapp/search/" method="post">
          {% csrf_token %}
          <input type="search" name="search" placeholder="Search Student">
          <input type="submit" value="Search">
          </form>

    </ul>
    </div>
  </div>
  </nav>

    
   <div class="row-fluid" >
     <div class="span7 offset2">
      {% block primary %}{% endblock %}
     </div> 
   </div>

  </body>
</html>
